.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto 10rem; }

.products-photo {
  width: 50%;
  max-width: 500px; }

.products-detail {
  width: 50%;
  color: var(--text-header); }
  .products-detail-h1 {
    font-size: 6rem;
    margin-bottom: 1rem; }
  .products-detail-p {
    margin: 4.5rem 0 3rem; }
  .products-detail-catagory {
    border-top: solid var(--product-line);
    padding-top: 2rem; }
    .products-detail-catagory span {
      color: var(--color-icon); }

@media only screen and (max-width: 800px) {
  .products-header {
    width: 95%; } }

@media only screen and (max-width: 500px) {
  .products-header {
    flex-direction: column; }
  .products-photo {
    width: 80%;
    margin-bottom: 5rem; }
  .products-detail {
    width: 95%; } }

.products-description {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto 10rem;
  border-top: solid var(--product-line); }
  .products-description-h3 {
    color: #000;
    display: inline-block;
    border-top: solid var(--text-header);
    margin-bottom: 5rem; }
  .products-description-h4 {
    margin-bottom: 3rem; }
  .products-description-container:not(:last-child) {
    margin-bottom: 8rem; }
  .products-description-ingredient {
    margin-bottom: 2rem; }
    .products-description-ingredient-list {
      display: flex; }
      .products-description-ingredient-list ul {
        list-style: inside disc;
        margin-left: 1rem;
        width: 50%; }
      .products-description-ingredient-list li:not(:last-child) {
        margin-bottom: 1rem; }
  .products-description-action {
    margin-bottom: 2rem; }
    .products-description-action h5 {
      margin-bottom: 1.5rem; }
    .products-description-action ul {
      list-style: inside disc; }
    .products-description-action li {
      margin-bottom: 0.4rem;
      margin-left: 1rem; }

@media only screen and (max-width: 800px) {
  .products-description {
    width: 95%; } }

@media only screen and (max-width: 800px) {
  .products-description-ingredient {
    margin-bottom: 2rem; }
    .products-description-ingredient-list {
      flex-direction: column; }
      .products-description-ingredient-list ul {
        width: 95%; }
        .products-description-ingredient-list ul:last-child {
          margin-top: 1rem; } }
